<main class="register" >
  <section class="logoContainer" >
    <h1 class="logo">DivvieApp</h1>
  </section>
  <section class="formContainer" >
    <%= form_with  url: sign_in_path, scope: :user do |form|%>
      <div class="formControl">
        <%= form.label :email, class: "label"%>
        <%= form.email_field :email, class: "input"%>
      </div>
      <div class="formControl">
        <%= form.label :password, class: "label"%>
        <%= form.password_field :password, class: "input"%>
      </div>
      <%= form.submit "Sign In", class: "btn btn--brand btn--submit"%>
    <%end%>
  </section>
</main>
